<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf8" />
  <meta name="Description" content=" [wstaw tu opis strony] " />
  <meta name="Keywords" content=" [wstaw tu slowa kluczowe] " />
  <meta name="Author" content=" [dane autora] " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title> Panel administracyjny - Bikemania </title>


  
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <link rel="stylesheet" href="css/fontello.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans&display=swap" rel="stylesheet"> 
  
</head>
<body>
	
	<script src="js/jquery-1.12.3.min.js"></script>
	
	<script>

$(document).ready(function() {
   var stickyNavTop = $('#menu').offset().top;

   var stickyNav = function(){
   var scrollTop = $(window).scrollTop();

   if (scrollTop > stickyNavTop) { 
      $('#menu').addClass('sticky');
   } else {
      $('#menu').removeClass('sticky');
    }
   };

   stickyNav();

   $(window).scroll(function() {
      stickyNav();
   });
   });
   
   function mobileMenu() {
  var x = document.getElementById("links");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

	</script>

	
	
	<center>
		<div id="logo"><a href="/" style="color: #ffffff; text-decoration: none;">Bikemania <img src="img/logo.png" width="100"></div>
	</center>
		
	
	
	<div id="menu">
		<a href="/" title="Strona Główna"><div id="nav"><i class="icon-home"></i></div></a>
		<a href="/aktualnosco" title="Aktualności"><div class="option">Aktualności</div></a>
		<a href="/rezerwacje" title="Rezerwacje"><div class="option">Rezerwacje</div></a>
		<a href="/cennik" title="Cennik"><div class="option">Cennik</div></a>
		<a href="/serwis" title="Serwis"><div class="option">Serwis</div></a>
		<a href="/kontakt" title="Kontakt"><div class="option">Kontakt</div></a>
	</div>
	
	<div class="mobilemenu">
		
		<a href="/" style="font-family: 'Fredoka One', cursive; color: #ffffff; text-decoration: none;">Bikemania</a>
	
		<div id="links">
			<a href="/" title="Strona Główna">Strona Główna</a>
			<a href="/aktualnosci" title="Aktualności">Aktualności</a>
			<a href="/rezerwacje" title="Rezerwacje">Rezerwacje</a>
			<a href="/cennik" title="Cennik">Cennik</a>
			<a href="/serwis" title="Serwis">Serwis</a>
			<a href="/kontakt" title="Kontakt">Kontakt</a>
		</div>
		
		
		
		<a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
		<i class="fa fa-bars"></i>
		</a>
		
	</div>

	
	
	<div id="content">

		<div class="contentblock_wide">
			<h1 style="color: #7dad2c;">Panel administracyjny</h1>		
			<a href="/admin_logout"><button type="button" class="button_submit_red">Wyloguj</button></a>
			<% if(success != '') { %>
				<h3 style="color: #3dc407"><%= success %></h3>
				<p>Opłać wynajem</p>
				<% if(id_wypozyczenia != 0) { %>
					<form method="post" action="/oplac_wynajem">
						<select class="inputbox" style="width: 120px;" name="metoda">
							<option value="karta">Karta/BLIK</option>
							<option value="gotówka">Gotówka</option>
							<option value="voucher">Voucher</option>
						</select>
						<input type="hidden" name="id_wypozyczenia" value="<%= id_wypozyczenia %>">
						<button class="button_submit_orange">Opłać</button>
					</form>
				<% } %>
			<% } %>
			
		</div>
	
	<div id="admincontainter">
			
			
		<div class="adminblock">
			
			<div class="admintitle">
				
				Anulowanie rezerwacji
				
			</div>
			
			<div class="admincontent">
				<form method="post" action="/anuluj_rezerwacje">
					<p style="color: #d43232"><b>UWAGA!</b> Poinformuj klienta, że ta akcja jest nieodwracalna!</p>
					<p>Numer rezerwacji</p>
					<input type="number" class="inputbox" name="id_wypozyczenia" required>
					<button type="submit" class="button_submit" style="background-color: #c90606;">Anuluj rezerwację</button>
				</form>
			</div>
			
		</div>
		
		<div class="adminblock">
			
			<div class="admintitle">
				
				Rozpoczęcie wynajmu
				
			</div>
			
			<div class="admincontent">
				<form method="post" action="/rozpoczecie_wynajmu">
					<p>Numer rezerwacji</p>
					<input type="number" class="inputbox" name="id_wypozyczenia" required>
					<button type="submit" class="button_submit">Rozpocznij wynajem</button>
				</form>
			</div>
			
		</div>
		
		
		<div class="adminblock">
			
			<div class="admintitle">
				
				Zakończenie wynajmu
				
			</div>
			
			<div class="admincontent">
				<form method="post" action="/zakonczenie_wynajmu">
					<p>Przed płatnością <b>zakończ wynajem!</b> Ostateczna kwota na tej podstawie zostanie wyliczona!</p>
					<p>Numer rezerwacji</p>
					<input type="number" class="inputbox" name="id_wypozyczenia" required>
					<button type="submit" class="button_submit">Zakończ wynajem</button>
				</form>
			</div>
			
		</div>
		
		
		<div class="adminblock">
			
			<div class="admintitle">
				
				Dodanie aktualności
				
			</div>
			
			//to do

			<div class="admincontent">
				<form method="post" action="/opublikowanie_aktualnosci">
					<p>Tytuł</p>
					<input type="text" class="inputbox" name="tytul_aktualnosci" required>
					<p>Autor</p>
					<input type="text" class="inputbox" name="autor_aktualnosci" required>
					<p>Treść</p>
					<input type="text" class="inputbox" name="tresc_aktualnosci" required>
					<button type="submit" class="button_submit">Opublikuj</button>
				</form>
			</div>
			
		</div>
		
		
		
			
			
	</div>
	
	
		
	</div>
	
		<div id="footer"> 
			
			<div id="footercontainer">
			
				<div class="footerblock">
				
					Bikemania 2021 &copy <br><br>					
					
					Najlepsze rowery w Gliwicach
				
				</div>
			
				<div class="footerblock">
					
					44-100 Gliwice<br>
					ul. Kaszubska 23<br>
					pokój 308<br><br>
					
					Tel.: 123 456 789<br>
					email: kontakt@bikemania.pl
					
				</div>
			
			</div>
			
		</div>
		
</body>
</html>