<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf8" />
  <meta name="Description" content=" [wstaw tu opis strony] " />
  <meta name="Keywords" content=" [wstaw tu slowa kluczowe] " />
  <meta name="Author" content=" [dane autora] " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title> Aktualności - Bikemania </title>


  
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <link rel="stylesheet" href="css/fontello.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans&display=swap" rel="stylesheet"> 
  
</head>
<body>
	
	<script src="js/jquery-1.12.3.min.js"></script>
	
	<script>

$(document).ready(function() {
   var stickyNavTop = $('#menu').offset().top;

   var stickyNav = function(){
   var scrollTop = $(window).scrollTop();

   if (scrollTop > stickyNavTop) { 
      $('#menu').addClass('sticky');
   } else {
      $('#menu').removeClass('sticky');
    }
   };

   stickyNav();

   $(window).scroll(function() {
      stickyNav();
   });
   });
   
   function mobileMenu() {
  var x = document.getElementById("links");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

	</script>

	
	
	<center>
		<div id="logo"><a href="/" style="color: #ffffff; text-decoration: none;">Bikemania <img src="img/logo.png" width="100"></div>
	</center>
		
	
	
	<div id="menu">
		<a href="/" title="Strona Główna"><div id="nav"><i class="icon-home"></i></div></a>
		<a href="/aktualnosco" title="Tu jesteś"><div class="optionactive">Aktualności</div></a>
		<a href="/rezerwacje" title="Rezerwacje"><div class="option">Rezerwacje</div></a>
		<a href="/cennik" title="Cennik"><div class="option">Cennik</div></a>
		<a href="/serwis" title="Serwis"><div class="option">Serwis</div></a>
		<a href="/kontakt" title="Kontakt"><div class="option">Kontakt</div></a>
	</div>
	
	<div class="mobilemenu">
		
		<a href="/" style="font-family: 'Fredoka One', cursive; color: #ffffff; text-decoration: none;">Bikemania</a>
	
		<div id="links">
			<a href="/" title="Strona Główna">Strona Główna</a>
			<a href="/aktualnosci" title="Aktualności">Aktualności</a>
			<a href="/rezerwacje" title="Rezerwacje">Rezerwacje</a>
			<a href="/cennik" title="Cennik">Cennik</a>
			<a href="/serwis" title="Serwis">Serwis</a>
			<a href="/kontakt" title="Kontakt">Kontakt</a>
		</div>
		
		
		
		<a href="javascript:void(0);" class="icon" onclick="mobileMenu()">
		<i class="fa fa-bars"></i>
		</a>
		
	</div>

	
	
	<div id="content">

	<div class="contentblock_wide">
		
		<h1 style="color: #7dad2c;">Aktualności</h1>
		
		Na tej stronie możesz zapoznać się z najnowszymi wiadomościami dotyczącymi naszej firmy. Dzięki tej stronie możesz być na bieżąco z naszą ofertą oraz ze wszystki zmianami które wprowadzamy.
		
	</div>
	
	<div id="newscontainter">
			
			
		<div id="news1"></div>
		<div class="newsblock">
			
			<div class="newstitle">
				
				JAK DOBRAĆ ROZMIAR RAMY DLA SIEBIE
				
			</div>
			
			<div class="newscontent">
				
				Dobór ramy ma ogromny wpływ na komfort jazdy, jednak nie jest on taki prosty w przypadku, gdy nie możemy na niego usiąść i po prostu wypróbować. Przez lata, została wypracowana metoda, która pomaga wybrać nam minimalną wielkość ramy. Przedstawia się ona następująco:
				
				<ol>
					<li>Stajemy boso przy ścianie i mierzymy odległość między podłożem, a kroczem.</li>
					<li>Uzyskany wynik mnożymy:
						<ul>
							<li>przez 0,57 w przypadku roweru górskiego,</li>
							<li>przez 0,63 w przypadku roweru trekkingowego,</li>
							<li>przez 0,66 przy rowerze szosowym</li>
						</ul>
					</li>
					<li>Otrzymany wynik należy podzielić przez 2,54, aby uzyskać wartość w calach. Wartość ta, to rozmiar ramy, jakiej powinniśmy używać. Niestety trzeba pamiętać, że takie obliczenia są bardzo ogólne, biorąc pod uwagę ilość możliwych stylów jazdy, jakie stworzyła ludzkość. Ponadto sprawę utrudnia jeszcze długość roweru, która ma decydujący wpływ na pozycję na rowerze. Na szczęście na ten element możemy wpłynąć poprzez kilka manipulacji w naszym rowerze. Jeśli jesteśmy za bardzo „położeni” na rowerze, możemy zmienić wspornik kierownicy na krótszy lub też zmienić kierownicę na „giętą” o wysokim wzniosie. Takie zabiegi sprawią, że nasza pozycja na rowerze będzie bardziej wyprostowana i wygodna. Jeśli natomiast czujemy, że nasze ciało jest za bardzo odchylone do tyłu i przy podjazdach odczuwamy, że przednie koło ledwo dotyka podłoża lub się od niego odrywa to pomocne okaże się przesunięcie siodełka do przodu w jarzmie sztycy podsiodłowej.</li>
				</ol>
			</div>
			
		</div>
		
		
		<div id="news2"></div>
		<div class="newsblock">
			
			<div class="newstitle">
				
				SPRAWDŹ NASZE ZNIŻKI DLA STUDENTÓW
				
			</div>
			
			<div class="newscontent">
				
				
				
			</div>
			
		</div>
		
		<div id="news3"></div>
		<div class="newsblock">
			
			<div class="newstitle">
				
				ABONAMENT DLA WYMAGAJĄCYCH
				
			</div>
			
			<div class="newscontent">
				
				
				
			</div>
			
		</div>
		
		
		
		
		
			
			
	</div>
	
	
		
	</div>
	
		<div id="footer"> 
			
			<div id="footercontainer">
			
				<div class="footerblock">
				
					Bikemania 2021 &copy <br><br>					
					
					Najlepsze rowery w Gliwicach
				
				</div>
			
				<div class="footerblock">
					
					44-100 Gliwice<br>
					ul. Kaszubska 23<br>
					pokój 308<br><br>
					
					Tel.: 123 456 789<br>
					email: kontakt@bikemania.pl
					
				</div>
			
			</div>
			
		</div>
		
</body>
</html>