body
{
	background-color: #FFFFFF;
	color: #2f2f2f;
	font-size: 20px;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	text-align: justify;
}

#logo
{
	background-color: #982f2f;
	color: #ffffff;
	text-align: center;
	width: 100%;
	height: 110px;
	line-height: 110px;
	font-size: 60px;
	font-family: 'Fredoka One', cursive;
}

#menu
{
	width: 100%;
	background-color: #982f2f;
	text-align: center;
	color: #FFFFFF;
}

.option
{
	background-color: #982f2f;
	color: #FFFFFF;
	display: inline-block;
	font-size: 23px;
	padding: 7px 10px;
}

.option:hover
{
	cursor: pointer;
	background-color: #db3c3c;
	color: #FFFFFF;
}

.optionactive
{
	background-color: #982f2f;
	color: #FFFFFF;
	display: inline-block;
	font-size: 23px;
	padding: 7px 10px;
	box-shadow: inset 0px 0px 50px 0px #db3c3c;
}

.optionactive:hover
{
	cursor: pointer;
	background-color: #db3c3c;
	color: #FFFFFF;
}

#nav
{
	background-color: #982f2f;
	display: inline-block;
	font-size: 23px;
	padding: 7px 5px	;
}

#nav:hover
{
	cursor: pointer;
	background-color: #db3c3c;
}

@media (max-width: 800px)
{
  #menu, #logo
  {
    display: none;
  }
}

.mobilemenu
{
	text-align: center;
	font-size: 40px;
	overflow: hidden;
	background-color: #982f2f;
	position: relative;
}

.mobilelogo
{
	color: #ffffff;
}

.mobilemenu #links
{
	display: none;
	color: #ffffff;
}

.mobilemenu a
{
	color: #ffffff;
	padding: 16px 15px;
	text-decoration: none;
	display: block;
}

.mobilemenu a.icon
{
	width: 40px;
	background: #982f2f;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.mobilemenu a:hover
{
	background-color: #db3c3c;
	color: #ffffff;
}


@media (min-width: 799px)
{
	.mobilemenu
	{
		display: none;
	}
}

#content
{
	width: 80%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info
{
	width: 500px;
	height: 450px;
	margin: auto;
	display: inline-block;
	text-align: center;
}

.openhours
{
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	text-align: left;
}

#map
{
	width: 700px;
	margin-bottom: 50px;
	text-align: center;
}

#footer
{
	font-size: 23px;
	color: #982f2f;
	padding: 30px 0;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-top: 2px solid #982f2f;
	clear: left;
}

.sticky
{
	box-shadow: 0px 3px 70px -5px rgba(0,0,0,0.75);
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	z-index: 100;
}



